*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(201, 241, 201);
}
.navbar{
    display: flex;
    align-items: center;
    background-color: white;
   
}
.imf{
    height: 2.1875rem;
    width: 2.5rem;
    margin-left: 2.5rem;
}
.search{
   margin: 0 1.5rem;
   height: 2.1875rem;
   width: 16rem;
   border-radius: 1.6rem;
   border: 1px solid rgb(197, 243, 197);
   background-color : rgb(197, 243, 197);
   box-sizing: border-box;
   padding: 7px;
}
.b{
    text-align: center;
    margin-left: 0.8rem;
}
.b:hover{
    color: #5f5d5d;
    cursor: pointer;
    text-decoration: underline;
}
.im{
    width: 1.2rem;
    height: 1.3rem;
}
.im1{
    height: 1.2rem;
    width: 1.8rem;
}
.n{
    font-size: 0.55rem;
}
.pro{
    text-align: center;
    margin-left: 23rem;
    margin-top: 0.5rem;
}
.pro:hover{
    cursor: pointer;
}
.paras{
    font-size: 15px;
}
.c1{
    height: 2rem;
    width: 2rem;
    border: 1px solid gray;
    border-radius: 50%;
    background-color: rgb(192, 191, 191);
}
.main{
    background-color: rgb(201, 241, 201);
    display: flex;
}
.boxx1{
    height: 14.375rem;
    width: 46.875rem;
    background-color: white;
    margin: 1.875rem 0.9375rem 0.9375rem 3.75rem;
    border-radius: 0.5rem;
}
.boxx2{
    height: 160px;
    width: 46.875rem;
    background-color: white;
    margin: 1.875rem 0.9375rem 0 3.75rem;
    margin-bottom: 0;
    margin-top: 0;
    border-radius: 0.5rem;
}
.boxx4{
    width: 24.0625rem;
    height: 27rem;
    background-color: white;
    margin-top: 1.875rem;
    text-align: center;
    border-radius: 0.5rem;
}
.show{
    height: 35px;
    width: 15rem;
    background-color: rgb(236, 236, 236);
    border: 1px solid rgb(236, 236, 236);
    border-radius: 0.6rem;
}
.show:hover,.show:focus{
    cursor: pointer;
    background-color: rgb(202, 200, 200);
}
.back1{
    width: 46.875rem;
    height: 5.625rem;
}
.profile2{
    height: 5.125rem;
    width: 5.125rem;
    border-radius: 50%;
    background-color: rgb(177, 175, 175);
    position:relative;
    bottom: 3.75rem;
    left: 1.875rem;
}
.names{
    font-size: 1.1875rem;
}
.intro{
    position: relative;
    bottom: 3.9375rem;
    left: 1.875rem;
}
.intro1{
    display: flex;
}
.py{
    font-size: 1rem;
    font-weight: 500;
}
.btn1{
    margin-top: 0.625rem;
    height: 1.875rem;
    width: 6.25rem;
    border-radius: 1.6875rem;
    border: 1px solid rgb(197, 243, 197);
    background-color: rgb(197, 243, 197);
}
.btn1:hover{
    cursor: pointer;
    background-color: rgb(158, 243, 158);
}

.btn2{
    margin-left: 1.875rem;
    height: 1.875rem;
    width: 6.25rem;
    border-radius: 1.6875rem;
    background-color: white;
    border: 1px solid rgb(180, 180, 180);
}
.btn2:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}
.in2{
    display: flex;
    align-items: center;
}
.ho1{
    width: 3.5rem;
    height: 2.3rem;
    margin-bottom: 0.5rem;
}
.link1{
    text-decoration: underline;
}
.link1:hover{
    cursor: pointer;
    color: rgb(68, 185, 231);
}
.year,.mumbai{
    margin: 0;
    font-size: 0.8125rem;
}
.mumbai{
    font-weight: 500;
}
.con{
    position: relative;
    left: 31.25rem;
     width: 11.25rem;
     bottom: 9.375rem;
}
.logo{
    display: flex;
    position: absolute;
    top: 12.1875rem;
    left: 46.875rem;
}
.img1{
    height: 1.25rem;
    width: 1.25rem;
    margin: 0.3125rem;
}
.img9{
    height: 1.35rem;
    width: 1.35rem;
    position: relative;
    top: 0.2rem;
    left: 2px;
    margin-right: 0.625rem;
}
.pjq{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.3125rem;
    margin-left: 1.875rem;
}
.images{
    display: flex;
    margin-left: 1.875rem;
}
.bxxx1{
    text-align: center;
}
.imgs{
    height: 5.9375rem;
   margin-left: 1.25rem;
}
.imgs:hover{
cursor: pointer;
background-color: white;
}
.circles{
    height: 3.75rem;
    width: 3.75rem;
    border-radius: 50%;
    background-color: rgb(177, 175, 175);
}
.s1{
    display: flex;
    align-items: center;
    margin: 1.25rem;
}
.grow{
    margin: 1.25rem;
    font-size: 1.25rem;
}
.info{
    margin-left: 1.25rem;
    margin-right: 0.5rem;
    text-align: left;
}
.bb1{
    text-align: center;
}
.plus{
   height: 1.5625rem;
   width: 1.5625rem;
   border-radius: 50%;
   background-color: black;
   color: white;
   display: flex;
   justify-content: center;
}

.plus:hover{
    cursor: pointer;
    background-color: #5e5d5d;
}
.boxx5,.boxx6{
    height: 180px;
    width: 46.9rem;
    background-color: white;
    border-radius: 0.5rem;
    margin-left: 3.6rem;
    margin-top: 1rem;
}
.boxx6{
    box-sizing: border-box;
    padding: 40px;
}
.abt{
    font-size: 24px;
}
.abtt{
    margin-top: 20px;
}
.mboxx{
    display: flex;
    margin-left: 30px;
}
.pv{
    font-weight: 500;
    font-size: 18px;
}
.eye{
    display: flex;
    margin: 0;
}
.sb1{
    width: 183px;
}
.desc1{
    font-size: 16px;
}
.insight{
    padding: 30px;
    font-weight: 500;
}
.eee{
    height: 40px;
    width: 40px;
}
.boxx7{
    height: 320px;
    width: 46.9rem;
    background-color: white;
    border-radius: 0.5rem;
    margin-left: 3.6rem;
    margin-top: 1rem;
    box-sizing: border-box;
    padding: 20px 1px 20px 30px;
}
.act1{
    display: flex;
}
.img17{
    height: 80px;
    width: 90px;
    margin-right: 10px;
}
.like{
    width: 30px;
    height: 30px;
}
.act{
  font-size: 24px;
  margin-bottom: 20px;
}
.act111{
    display: flex;
    align-items: center;
    margin-top: 5px;
}
.likeNo {
    margin-right: 100px;
}
.line{
    height: 2px;
    width: 650px;
    background-color: rgb(172, 171, 171);
    margin: 30px 10px 30px 0;
}
